/*-----Zeroing-----*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-size: cover;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------------*/
@font-face {
  font-family: "Montserrat";
  src: url("/res/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/res/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
}

.form {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 40.625rem;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-padding-after: 1rem;
          padding-block-end: 1rem;
}

.text {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 2 auto;
          flex: 1 2 auto;
  font-size: 1rem;
  letter-spacing: 0.0625rem;
  font-weight: 400;
}

.textarea {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 2 auto;
          flex: 1 2 auto;
  font-size: 1rem;
  letter-spacing: 0.0625rem;
  font-weight: 400;
}

.text-short {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 30%;
  -webkit-margin-end: 0.625rem;
          margin-inline-end: 0.625rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  font-size: 0.75rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex: 1 2 auto;
      flex: 1 2 auto;
}

.number-short {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 30%;
  -webkit-margin-end: 0.625rem;
          margin-inline-end: 0.625rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  font-size: 0.75rem;
  -ms-flex-preferred-size: content;
      flex-basis: content;
  -webkit-box-flex: 0;
      -ms-flex: 0 2 auto;
          flex: 0 2 auto;
}

.mark-input-number {
  padding: 6px 13px 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  outline: 0;
  line-height: 1.25rem;
  background: #f7f7f7;
  border: 1px solid #9d9d9d;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #383838;
  height: auto;
  font-size: 0.8125rem;
  width: 9rem;
}

.selector-short {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 30%;
  -webkit-margin-end: 0.625rem;
          margin-inline-end: 0.625rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  font-size: 0.75rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex: 1 2 auto;
      flex: 1 2 auto;
}

.form-label {
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
}

.form-short-label {
  -webkit-margin-after: 0.25rem;
          margin-block-end: 0.25rem;
}

.form-short-label > span {
  text-transform: uppercase;
}

.form-input {
  padding: 6px 13px 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  outline: 0;
  line-height: 1.25rem;
  background: #f7f7f7;
  border: 1px solid #9d9d9d;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #383838;
  height: auto;
  font-size: 0.8125rem;
}

.form-selector {
  cursor: pointer;
  width: 100%;
  font-weight: 500;
  -webkit-padding-start: 5px;
          padding-inline-start: 5px;
  padding: 6px 13px 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  outline: 0;
  line-height: 1.25rem;
  background: #f7f7f7;
  border: 1px solid #9d9d9d;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #383838;
  height: auto;
  font-size: 0.8125rem;
}

.form-textarea {
  -webkit-margin-before: 3px;
          margin-block-start: 3px;
  padding: 6px 13px 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  outline: 0;
  line-height: 1.25rem;
  background: #f7f7f7;
  border: 1px solid #9d9d9d;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #383838;
  height: auto;
  width: 100%;
  font-size: 0.8125rem;
}

.button-row {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.form-dynamic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-padding-after: 0.5rem;
          padding-block-end: 0.5rem;
  -webkit-border-after: 1px solid rgba(0, 0, 0, 0.3);
          border-block-end: 1px solid rgba(0, 0, 0, 0.3);
}

.form-dynamic__title {
  font-size: 1.25rem;
  font-weight: 300;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}

.form-dynamic__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-dynamic__part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-dynamic__record {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-border-before: 3px solid rgba(0, 0, 0, 0.3);
          border-block-start: 3px solid rgba(0, 0, 0, 0.3);
  -webkit-padding-before: 5px;
          padding-block-start: 5px;
}

.form-dynamic__add-part {
  padding-block: 0.2rem .5rem;
}

.save-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-block: .4rem;
}

.marks-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mark-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 6px 11px;
  font-size: 0.6rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.5;
  text-transform: uppercase;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.button-success {
  color: white;
  background-color: #04b962;
  border-color: #04b962;
}

.button-success:hover {
  color: #fff;
  background-color: #019e4c;
  border-color: #019e4c;
}

.button-delete {
  color: #fff;
  color: #f43643;
  background-color: transparent;
  background-image: none;
  border-color: #f43643;
  height: 2.0625rem;
}

.button-delete:hover,
.button-delete :focus {
  color: #fff;
  background-color: #f43643;
  border-color: #f43643;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: Min(3.75rem, 160px) 1fr;
  -ms-grid-columns: Min(14.375rem, 500px) 1fr;
      grid-template: Min(3.75rem, 160px) 1fr/Min(14.375rem, 500px) 1fr;
}

.container {
  background-color: #c7cedd;
  padding: 25px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2 / 3/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 15px rgba(57, 98, 254, 0.02), 0 3px 6px rgba(117, 108, 254, 0.12);
          box-shadow: 0 5px 15px rgba(57, 98, 254, 0.02), 0 3px 6px rgba(117, 108, 254, 0.12);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__note-select-event {
  width: 100rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.75rem;
  word-wrap: break-word;
  margin: 0.5rem;
}

.card__header {
  padding: 0.75rem 1.25rem;
  -webkit-border-after: 1px solid rgba(0, 0, 0, 0.3);
          border-block-end: 1px solid rgba(0, 0, 0, 0.3);
}

.card__title {
  -webkit-margin-after: 0.75rem;
          margin-block-end: 0.75rem;
  font-weight: 600;
  font-size: 1rem;
}

.card__body {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-block: 1rem;
  padding-inline: 3rem;
}

header {
  background-color: #e1eeec;
  -webkit-box-shadow: 5px -1px 4px 0px;
          box-shadow: 5px -1px 4px 0px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2 / 2/3;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  background-color: #dbe9e7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -webkit-box-shadow: -3px 1px 8px 1px;
          box-shadow: -3px 1px 8px 1px;
}

.event-menu {
  height: 2.1875rem;
  width: 26.875rem;
  -webkit-margin-start: 3.73134%;
          margin-inline-start: 3.73134%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select-dropdown {
  border: 1px solid #a3acab;
  display: block;
  height: 100%;
  width: 12.5rem;
  border-radius: 6px;
  overflow: hidden;
}

.select-dropdown__select {
  background-color: #c7d1d0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  -webkit-padding-start: 5px;
          padding-inline-start: 5px;
}

.click-create-event {
  width: auto;
  font-size: 1.125rem;
  font-weight: 500;
}

.click-create-event a {
  color: #1292f5;
}

.click-create-event a:hover,
.click-create-event :focus {
  color: #611a8b;
}

.user-details {
  -webkit-border-after: 2px solid #9d9d9d;
          border-block-end: 2px solid #9d9d9d;
  height: 5.625rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75rem;
}

.user-details__full-name {
  font-size: 1.125rem;
  font-weight: 600;
  word-wrap: break-word;
}

.user-details a {
  color: #1292f5;
}

.user-details a:hover,
.user-details :focus {
  color: #611a8b;
}

.navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
  width: 100%;
  height: 83.33333%;
}

.navbar-menu__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 3.125rem;
  color: black;
  font-size: 0.9375rem;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-padding-start: 1.5625rem;
          padding-inline-start: 1.5625rem;
}

.navbar-menu__action::before {
  content: "";
  -webkit-margin-start: -0.9375rem;
          margin-inline-start: -0.9375rem;
  background-image: url(/res/img/nav_action.svg);
  position: absolute;
  height: 0.7rem;
  width: 0.7rem;
}

.navbar-menu__action::after {
  content: "";
  margin: 0.3125rem;
  background-image: url(/res/img/nav_greater-than_sign.svg);
  position: absolute;
  width: 0.7rem;
  height: 0.84rem;
  right: 5px;
}

.navbar-menu__action:hover {
  border: 1px solid blueviolet;
}
